@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Oxygen:wght@300;400&family=Poppins:wght@100;200;400;600&display=swap');
.about-box{
    display: flex;
    gap: 20px;
    padding-top: 30px;
    flex-wrap: wrap;
}
.provide-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    flex-wrap: wrap;
}
.front-main{
    background-color: #110f2b;
}
#front-h1{
    text-align: center;
    color: aliceblue;
    margin-top: 40px;
    font-size: 40px;
    font-family: 'Moon Dance', cursive;
}